body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color: #81b29a;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
  color: #ffffff;
  font-weight: bold;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #f4f1de;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #f2cc8f;
}

.present {
  background-color: #e07a5f;
}

.future {
  background-color: #3d405b;
}

.saveBtn {
  border-left: 4px solid white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #81b29a;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
